@use "../base/abstract" as *;
.sidenav {
  width: 30rem;
  height: 63rem;
  border-radius: 1rem;
  background-image: url(../images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 3.5rem;

  > * {
    color: #0a2751;
  }
}

.nav-card {
  @include flex($juco: flex-start);
  gap: 1.6rem;
  margin-bottom: 3.8rem;

  > * {
    color: white;
  }

  .number {
    @include flex;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;

    border: 1px solid white;
    font-weight: 700;

    &:hover {
      background-color: #bde2fb;
      color: #0a2751;
      border: none;
    }
    &.active {
      background-color: #bde2fb;
    }
  }

  .details {
    > * {
      text-transform: uppercase;
    }
    p {
      font-weight: 400;
    }
    h2 {
      font-weight: 700;
    }
  }
}
