@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--BG);
  color: var(--Text);
  font-size: 1.6rem;
  font-weight: 500;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
a,
button {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb {
  justify-content: space-between;
}
.col {
  flex-direction: column;
}

#root {
  height: 100vh;
  width: 100vw;
  background-color: #eef5ff;
}

.main-container {
  background-color: white;
  /* background-color: black; */
  width: 104rem;
  height: 66rem;
  border-radius: 1.4rem;
  justify-content: left;
  gap: 11rem;
}

.main-container .left {
  width: 30rem;
  height: 63rem;
  border-radius: 1rem;
  background-image: url(./images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container .left > * {
  color: #0a2751;
}

.sidenav-card {
  gap: 1.6rem;
}

.sidenav-card > * {
  color: white;
}

.sidenav-card .number {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;

  border: 1px solid white;
  font-weight: 700;
}
.sidenav-card .number:hover {
  background-color: #bee1fe;
  color: #0a2751;
  border: none;
}

.sidenav-card .right {
}

.sidenav-card .right > * {
  text-transform: uppercase;
}
.sidenav-card .right p {
  font-weight: 400;
}

.sidenav-card .right h2 {
  font-weight: 700;
}
