@use "../base/abstract" as *;

.select-plan {
  form {
    .yearly-card {
      height: 18rem !important;
    }
    .cards {
      @include flex;
      gap: 1.6rem;

      .card {
        @include flex($fledi: column, $alite: flex-start, $juco: space-between);
        height: 16rem;
        width: 12rem;
        border-radius: 1rem;
        padding: 1.8rem 1.4rem;
        text-transform: capitalize;
        cursor: pointer;

        .image-wrapper {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
        }
        h2 {
          color: #0a2751;
        }
        h3 {
          color: #b5b6bb;
          font-size: 1.4rem;
          font-weight: 400;
          margin-top: .3rem;
        }
        h4 {
          font-size: 1.2rem;
          font-weight: 400;
          color: #283349;
          margin-top: .5rem;
        }
      }
    }

    .mode-inputs {
      @include flex;
      gap: 1.6rem;
      position: absolute;
      top: 0;

      input[type="radio"] {
        appearance: none;
        height: 16rem;
        width: 12rem;
        border: 1px solid #dedee0;
        border-radius: 1rem;
        cursor: pointer;

        &:checked {
          border: 1px solid #6961a2;
        }
      }
    }

    .toggler {
      @include flex;
      margin-top: 4.8rem;
      label {
        cursor: pointer;
      }

      .toggle-bg {
        @include flex($juco: space-between);
        gap: 0.2rem;
        width: 4rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: #03295a;
        margin: 0 2.4rem;

        input {
          appearance: none;
          width: 48%;
          height: 100%;
          border-radius: 50%;
        }

        .toggle-switch {
          position: absolute;
          background-color: white;
          border-radius: 50%;
          height: 1.4rem;
          width: 1.4rem;
          left: 0.4rem;
          transition: transform 0.1s linear;
        }
        #yearly:checked ~ .toggle-switch {
          transform: translateX(1.84rem);
        }
      }
    }
  }
}
