@use "../base/abstract" as *;

.main {
  background-color: var(--Light-blue);

  width: 100vw;
  height: 100vh;
  min-width: 34rem;
  min-height: 40rem;

  @extend %flex;

  .white-bg {
    background-color: var(--White);
    border-radius: 1.6rem;

    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.6rem;
    padding-right: clamp(6rem, 8vw, 12rem);

    width: clamp(80rem, 66vw, 95rem);
    height: clamp(52rem, 75vh, 70rem);

    @extend %flex;
    gap: clamp(4rem, 7vw, 10rem);
  }
}

@media screen and (max-width: 800px) {
  .main {
    align-items: flex-start;

    .white-bg {
      background-color: crimson;
      height: 100vh;
      padding: 0 4vw;
      align-items: flex-start;
    }
  }
}
