.all-input-wrapper {
  .input-wrapper {
    margin-top: 2.8rem;
    &:first-child {
      margin-top: 0; //no space for the first one
    }
    &.invalid {
      input:focus {
        border: 1px solid var(--Strawberry-red);
      }
    }
  }
  input {
    height: 4.4rem;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--Light-gray);

    margin-top: 0.8rem; //spce from the label
    padding: 0 1.6rem;

    color: var(--Marine-blue);
    font-weight: 500;

    &::placeholder {
      font-weight: 500;
    }
    &:focus {
      border: 1px solid var(--Purplish-blue);
    }
  }
  p {
    max-width: 30rem;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--Strawberry-red);
    font-weight: 500;
  }
}
