.confirm-form {
  .sub-heading {
    margin-bottom: 5rem !important;
  }
  button{
    background-color: var(--Purplish-blue) !important;
  }
}

.finishing-up-wrapper {
  .input-wrapper {
    display: flex;
    justify-content: space-between;

    padding-bottom: 3rem;

    border-bottom: 1px solid var(--Light-gray);

    .left-part {
      h2 {
        text-transform: capitalize;
        color: var(--Marine-blue);
        font-weight: 500;
      }
      .inside-button {
        cursor: pointer;

        margin-top: 0.4rem;

        color: var(--Cool-gray);
        text-decoration: underline;
      }
    }

    .money {
      color: var(--Marine-blue);
      font-weight: 700;
    }
  }
}

.bottom-part {
  margin-top: 2rem;

  .detail-card {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;

    &:last-child {
      margin-top: 2.6rem;
    }
    h3 {
      font-weight: 400;
      color: var(--Cool-gray);
    }
    h4 {
      font-weight: 400;
      color: var(--Marine-blue);
    }

    &.total {
      margin-top: 5rem;
      h4 {
        font-size: 2rem;
        color: var(--Purplish-blue);
        font-weight: 600;
      }
    }
  }
}
